<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminders</title>
</head>
<body>
    <main>
        <div>
            <h1>{{TodoList_object.name}}</h1>
            <h2>Tasks</h2>
            <table border="1">
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                {% for item in TodoList_object.items.all %}
                    <tr>
                        <td><a href="{% url "todo_list_detail" TodoList_object.id %}">{{ item.task }}</a></td> 
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>