<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>         
        <div>
            <h1>My Lists</h1>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {% for list in TodoList %}
                    <tr>
                        <td><a href="{% url "todo_list_detail" list.id %}">{{ list.name }}</a></td> 
                        <td>{{ list.items.count }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>